<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static\js_script.js"></script>
</head>
<body>
    <h2>Реєстрація</h2>
    <form id="signup-form" action="/sign_up" method="post">
        <p>Логін:</p>
        <input type="text" id="name" name="name" required>

        <p>Пароль:</p>
        <input type="text" id="pass" name="pass" required>

        <p>Пошта</p>
        <input type="text" id="email" name="email" required>

        <button type="submit">Go!</button>
    </form>
    <div id="result" ></div>
</body>
</html>